{include file="common@public/header" /}
<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-2">
            {tag:sq m="admin" a="menu" layer="2" id="$menuid"}
        </div>
        <div class="col-xs-12 col-sm-8">
            <ul class="nav nav-tabs" style="margin-bottom:2rem;">
                <li class="nav-item active">
                    {tag:sq m="admin" a="menu" layer="3" id="$menuid"}
                </li>
            </ul>
            支付宝支付成功同步回调页面
        </div>

    </div>
</div>
{include file="common@public/footer" /}