<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册页面</title>
	<link rel="stylesheet" href="__PUBLIC__/css/login.css" >
    <link rel="stylesheet" href="__PUBLIC__/adminlte/bootstrap/css/bootstrap.min.css">
    <script src="__PUBLIC__/plugins/jQuery/jquery-2.2.3.min.js"></script>
</head>
<body>
	<div class="reg-box">
            <div class="user-reg">注册</div>
           <div class="login-info">
                <div class="login-col">
                    <input class="info-box form-control" id="phone_num" name="phone_num" data-type="phone" data-role="verify" placeholder="请输入手机号">
                     <span class="error-tip" style="margin-left: 36px">
                           手机号有误
                       </span>
                    <div class="cl"></div>
                </div>

               <div class="login-col ">
               	<input class="form-control verify_code" id="img-code" name="verify_code" data-type="" data-role="" placeholder="验证码">
                <img src="{:url('/get_verify')}" class="code-img verifyimg reloadverify">
                   <div class="cl"></div>
               </div>
      			
      			<div class="login-col cl">
      				<input class="verify_code form-control" id="phone-code" name="" data-type="" data-role="verify" placeholder="短信验证码">
      				<a href="javascript:void(0)" class="get-code-btn">获取验证码</a>
      			    <div class="cl"></div>
                </div>

               <div class="login-col cl">
                   <input type="password" class="info-box form-control" name="password" id="password" data-type="password" data-role="verify" placeholder="密码(6-18位密码)">
                   <span class="error-tip" style="margin-left: 36px">
               密码必须为6-18的字符
              </span>
               </div>

               <button class="login-btn regist-btn" style="margin-bottom: 10px">立即注册</button>
               <div class="cl"></div>
               <div class="botton-reg">
                   <a href="{:url('/user/login')}">已有账号？立即登录</a>
               </div>
           </div>


   </div>
</body>
</html>
<script src="__PUBLIC__/plugins/verify.js"></script>
<script src="__PUBLIC__/adminlte/plugins/layer/2.4/layer.js"></script>
<script src="__PUBLIC__/js/base64.js"></script>

<script>
    var getCodeUrl = "{:url('/get_code')}";
    $(".regist-btn").click(function (e) {
        var base64Obj = new Base64();
        e.preventDefault();
        var phoneNum = $("#phone_num").val();
        var imgCode = $("#img-code").val();
        var phoneCode = $("#phone-code").val();
        var password = $("#password").val();
        if(!checkPhone(phoneNum)){
            layer.msg('电话号码有误',{icon: 2, time: 2000});
            return;
        }
        if(!checkPassword(password)){
            layer.msg('密码需6-18位字符',{icon: 2, time: 2000});
            return;
        }
        if(!phoneCode){
            layer.msg('手机验证码不能为空',{icon: 2, time: 2000});
            return ;
        }

        $.ajax({
           url:'{:url("/register")}',
           data:{'phone_num':base64Obj.encode(phoneNum),'verify_code':base64Obj.encode(imgCode),'phone_code':base64Obj.encode(phoneCode),'password':base64Obj.encode(password)},
            type:'post',
            async:true,
            success:function (resJson) {
                if(resJson.code != 1){
                    layer.msg(resJson.msg,{icon:2,time:2000});
                    $(".reloadverify").trigger('click');
                    return;
                }else{
                    layer.msg('注册成功',{icon:1,time:2000});
                    setTimeout('window.location.href="{:url(\"/user/login\")}"',2000);
                }
            }
        });
    });
</script>
<script src="__PUBLIC__/js/login.js"></script>