{include file="common@public/header" /} 
	
	
	<div class="container-fluid">
	<div class="row row-offcanvas row-offcanvas-right">
		<div class="col-xs-12 col-sm-2">
			<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">主要功能</h3>
								</div>
								<div class="list-group">
									<a href="{:url('index/paySetting')}" class="list-group-item">支付配置</a>
									<a href="{:url('index/recordList')}" class="list-group-item active">支付记录</a>
								</div>
			</div>
		</div>
		
        <div class="col-xs-12 col-sm-10">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<div class="panel panel-default">
						<div class="panel-heading">
						  <h3 class="panel-title">系统信息</h3>
						</div>
						
							<div class="list-group">
							  <span class="list-group-item">YUN版本：1.0.001</span>
							  <span class="list-group-item">ThinkPHP版本：5.0.3</span>
							  <span class="list-group-item">服务器操作系统：Linux</span>
							  <span class="list-group-item">运行环境：Apache</span>
							  <span class="list-group-item">MYSQL版本：5.5.49</span>
							  <span class="list-group-item">PHP版本：5.6.21</span>
							  <span class="list-group-item">上传限制：2M</span>
							  <span class="list-group-item">POST限制：8M</span>
							</div>
						
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="panel panel-default">
						<div class="panel-heading">
						  <h3 class="panel-title">产品信息</h3>
						</div>
						
							<div class="list-group">
							  <span class="list-group-item">产品名称：YUN内容管理系统</span>
							  <span class="list-group-item">研发团队：云的缔造者</span>
							  <span class="list-group-item">官方网址：注册中...</span>
							  <span class="list-group-item">官方QQ群：YUN官方</span>
							  <span class="list-group-item">BUG反馈：YUN讨论区</span>
							  <span class="list-group-item">联系我们：736383301</span>
							  <span class="list-group-item">产品公司：注册中.....</span>
							  <span class="list-group-item">公司地址：贵州贵阳</span>
							</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="panel panel-default">
						<div class="panel-heading">
						  <h3 class="panel-title">开发团队</h3>
						</div>
						<div class="panel-body">
						  Panel content
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="panel panel-default">
						<div class="panel-heading">
						  <h3 class="panel-title">授权信息</h3>
						</div>
						<div class="panel-body">
						  Panel content
						</div>
					</div>
				</div>
			</div>
          
        </div>
    </div>	
</div>
	
	
	{include file="common@public/footer" /} 	