body{

}
.login-box{
     position: relative;
     display: block;
     margin: 100px auto;
     width: 400px;
     height:370px;
     padding: 20px 30px;
     border: 2px solid #F2F2F2;
     background-color: #F2F2F2;
      border-radius: 10px;
 }

.reg-box.login-col{
    text-align: center;
    display: block;
}
.user-login,.user-reg{
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    line-height: 40px;
}
.bottom-info ,.reg-box .login-info,.login-box .login-info{
    margin: 15px 25px;
    text-align: center;
}
.login-info .info-box,.login-btn ,.next-btn{
    display: inline-block;
    margin: 10px 0px;
    width: 250px;
    height:36px;
}


.info-box::-webkit-input-placeholder{
    color: #5D5B5C;
    font-size: 13px;
    text-align:center;
}


.login-btn,.next-btn{
    background-color: #628BF6;
    color: #ffffff;
    font-size: 15px;
}
.tip ,.tip a {
    font-size: 10px;
    color: #A1A1A1;
}
a{
    text-decoration: none;
}

.forget-pwd-btn{
    margin: 0px 70px;
}
/* 错误提示 */
.error-tip{
    float: left;
    font-size: 10px;
    color: red;
    display: none;
    margin-left: 20px;
}
.botton-reg{
    text-align: center;
}
.botton-reg a{

    text-decoration: none;
    font-size: 13px;
    color: #A4AFC3;
}
.botton-reg a:active,.botton-reg a:hover{
    text-decoration: none;
}
/******注册页面********/
.reg-box{
    position: relative;
    display: block;
    margin: 100px auto;
    width: 380px;
    height:430px;
    padding-top: 20px;
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 10px;

}
#img-code,#phone-code{
    display: inline-block;
    width: 140px;
    height: 36px;
    margin: 10px 0px;
}

.code-img,.get-code-btn{
    display: inline-block;
    width: 100px;
    height: 34px;
    cursor: pointer;
}

.get-code-btn{
    color: #141414;
    background-color: #EFEFEF;
    text-align: center;
    border: 1px solid #0c0c0c;
    line-height: 35px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
}
a.get-code-btn:focus, a.get-code-btn:hover{
    text-decoration: none;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    color: #A1A1A1;
}
.regist-btn{
    margin: 20px 0px;
    background-color: #87CB29;
    cursor: pointer;
    border-radius: 3px;
}

/*重设密码界面*/
.reset-pwd-box{
    padding: 0px;
    width: 380px;
    height: 400px;
}

.tip1,.tip6{
    
    color: #929091;
    margin:20px;
}

.tip1{
    display: block;
    font-size: 20px;
}
.tip6{
    display: block;
    font-size: 14px;
     margin-top: 8px;
}
.icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    float: left;
    margin:20px 0px 0px 5%;

}

.reset-input{
    display: inline-block;
    width: 70%;
    margin: 12px 0px 0px 10px;
}

.line{
    background-color: #F1F1F1;
    display: inline-block;
    height: 1px;
    width: 90%;
    margin-left: 5%;
}

.code-input{
    width: 150px;
    
}
.reset-img-code{
    position: relative;
    display: inline-block;
    float: right;
}
.next-btn{
    margin:10px 10% 20px;
    width: 80%;
    cursor: pointer;
    border-radius: 3px;
}
.next-btn>a{
    color: #ffffff;
}

a.back-btn,a.back-login{
    font-size: 13px;
    padding-left: 10px;
    color: #5D5B5C;
}
.pwd-tip{
    font-size: 12px;
    display: block;
    margin-top: 0px;
}

.reset-success{
    margin: 30% auto;
    text-align: center;
}
.reset-success a{
    display: inline-block;
    margin-top: 40px;
    color: #1E9BD9;
}
span.get-code-span,span.have-send-code{
    display: inline-block;
    float: right;
    margin-right: 20px;
    margin-top:13px;
    font-size:13px;
    height:40px;
    line-height: 40px;
    cursor: pointer;
}
span.have-send-code{
    color: #A1A1A1;
    cursor: default;
}
img.arrow-icon{
    width: 10px;
    height: 10px;
    margin-top: 5px;
}
a.send-code-btn{
    display: inline-block;
    margin-right: 10px
}
.cl{
    clear: both;
}

