{extend name="common@public/base"}

{block name='style'}
{/block}

{block name="body"}
<section class="content">
    <div class="box box-solid clearfix">
        <div class="box-body clearfix member-manage-content">
            <div class="reg-member">
                <span class="">开通及续费</span>
            </div>
            <div class="form-horizontal ">
                <div class="box-body">
                    <!--<div class="form-group choose-member-type">-->
                        <!--<div class="radio">-->
                          <!--<input class="iradio_flat-green" type="radio" name="member_type"  value="1" checked="checked">-->
                            <!--<label>-->
                               <!--1个月30元-->
                            <!--</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class=" form-group choose-member-type">-->
                        <!--<div class="radio">-->

                          <!--<input class="iradio_flat-green" type="radio" name="member_type"  value="3" >-->
                            <!--<label>-->
                                <!--3个月78元 ( <span class="red-span">26</span>元/月 )-->
                            <!--</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group choose-member-type">-->
                        <!--<div class="radio">-->

                            <!--<input class="iradio_flat-green" type="radio" name="member_type"  value="6" >-->
                            <!--<label>-->
                               <!--6个月120元 ( <span class="red-span">20</span>元/月 )-->
                            <!--</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    {volist name="vip_price" id='item' key='k'}
                    <div class="form-group choose-member-type">
                        <div class="radio">
                            {if $k==1 }
                        <input class="iradio_flat-green" type="radio" name="member_type" checked value="{$item['month']}" >
                            {else/}
                            <input class="iradio_flat-green" type="radio" name="member_type" value="{$item['month']}" >
                           {/if}
                            <label>
                                {$item['desc']}
                                {if $item['month'] != 1 }
                                ( <span class="red-span">{$item['price']/$item['month']}</span>元/月 )
                                {/if}
                                {if $item['is_recommend'] == 1}
                                <span class="recommend-span">推荐</span>
                                {/if}
                            </label>
                        </div>
                    </div>
                    {/volist}

                    <div class="submit-member-type" >
                        <!--<a href="/user/member/pay" target="_blank">立即支付</a>-->
                        <input type="button" class="btn  btn-warning btn-lg" id="payment-btn"  value="立即支付">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{/block}

{block name="script"}

    <script>
        $(function () {

            $("#payment-btn").click(function (e) {
                e.preventDefault();
                var member_type = $("input[type='radio']:checked").val();

                $.ajax({
                    url:'/user/member/manage',
                    data:{member_type:base64Obj.encode(member_type)},
                    type:'post',
                    async:true,
                    success:function (resJson) {
                        if (resJson.code==0){
                            showTip(resJson.message,2);
                            setTimeout('window.location.href="/user/member/index";',2000);
                            return;
                        }
                        if(resJson.code==1){
                            showTip('操作成功',1);
                            setTimeout('window.location.href="/user/member/index";',2000);
                            return;
                        }
                    }
                })
            })

        });
    </script>

{/block}