{extend name="common@public/base"}

{block name='style'}
<style>
   .pay-list{
       list-style: none;

   }
    .pay-list li{
        float: left;
        display: block;
        margin: 30px 20px 0 0;
        width: 190px;
        height: 66px;
        border: 2px solid #e4e9ed;
        cursor: pointer;
    }

    .pay-list li img{
       width:190px;
       height:66px;
   }
  .pay-list .active {
       border-color: #6bc3f8;
   }
  .btn-order{
      width: 100px;
      height:36px;
  }
   .cl{zoom:1;}
   .cl::after{content:'';display:block;height:0;visibility:hidden;clear:both;}
</style>
{/block}

{block name="body"}
<section class="content">
    <div class="box box-solid clearfix">
        <div class="box-body clearfix member-manage-content">
            <div class="reg-member">
                <span class="">开通及续费</span>
            </div>
            <div class="form-horizontal ">
                <div class="box-body">
                    {volist name="vip_price" id='item' key='k'}
                    <div class="form-group choose-member-type">
                        <div class="radio">
                            {if $k==1 }
                        <input class="iradio_flat-green member_type" type="radio"  name="member_type" checked value="{$item['id']}" >
                            {else/}
                            <input class="iradio_flat-green member_type" type="radio" name="member_type" value="{$item['id']}" >
                           {/if}
                            <label>
                                {$item['month']}个月{$item['price']}元
                                {if $item['month'] != 1 }
                                ( <span class="red-span">{$item['per_price']}</span>元/月 )
                                {/if}
                                {if $item['is_recommend'] == 1}
                                <span class="recommend-span">推荐</span>
                                {/if}
                            </label>
                        </div>
                    </div>
                    {/volist}

                    <div class="submit-member-type" >
                        <!--<a href="/user/member/pay" target="_blank">立即支付</a>-->
                        <input type="button" class="btn  btn-warning btn-lg" id="payment-btn"  value="开通会员">
                    </div>

                </div>
            </div>
        </div>
    </div>

<!--支付方式选择模态框-->
<div class="modal " id="choose-pay-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">请选择支付方式</h4>
            </div>
            <form  name="myform" id="myform" target="_blank" action="{:url('pay/payments/alipay')}" method="post" onsubmit="getPayUrl()" target="_blank">
            <div class="modal-body">
                <input type="hidden" id="member_type_id" name="member_type_id" value="0">
                <input type="hidden" id="open_id" name="open_id" value="{$open_id}">
                <input type="hidden" name="order_no" id="order_no" value="{$order_no}"/>
                    <input type="hidden" name="price" id="price" value="0.01"/>
                    <input type="hidden" name="payCode" id="payCode" value="alipay" />
                    <div class="pay-ol pay-ol-tab o-wp xs-tab" id="payment_ol">
                        <div class="bd">
                            <div class="tab-bd">
                                <p>付款时将跳转到以下对应的支付渠道进行支付。</p>
                                <ul class="pay-list">
                                    <li class="icon-alipay active" id="alipay" data="alipay" title="使用支付宝支付">
                                        <img src="__PUBLIC__/image/alipay.png" alt="支付宝支付">
                                    </li>
                                    <li class="icon-tenpay cl" id="weixin" data="weixin" title="使用微信支付">
                                        <img src="__PUBLIC__/image/weixin.png" alt="微信支付">
                                    </li>
                                    <div class="cl"></div>
                                </ul>
                            </div>
                        </div>
                    </div>

            </div>
            <div class="modal-footer">
                <label class="pull-left" style="color: #F14A1C;font-size: 12px;font-weight: 400;margin-top: 20px;">温馨提示：若支付完成,请手动刷新此页面！</label>
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
                <button type="submit" class="btn btn-warning btn-order">立即支付</button>
            </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

</section>


{/block}

{block name="script"}

    <script>


        $(function () {

            $("#payment-btn").click(function (e) {
                e.preventDefault();
                $("#choose-pay-modal").modal('show');
                var member_type = $(".member_type:checked").val();
                if(!member_type||member_type=="undefined"){
                    showTip('请选择正确的会员类型',2);
                    return;
                }else{
                    $("#member_type_id").val(member_type);
                }
//                var member_type = $("input[type='radio']:checked").val();
//
//                $.ajax({
//                    url:'/user/member/manage',
//                    data:{member_type:base64Obj.encode(member_type)},
//                    type:'post',
//                    async:true,
//                    success:function (resJson) {
//                        if (resJson.code==0){
//                            showTip(resJson.message,2);
//                            setTimeout('window.location.href="/user/member/index";',2000);
//                            return;
//                        }
//                        if(resJson.code==1){
//                            showTip('操作成功',1);
//                            setTimeout('window.location.href="/user/member/index";',2000);
//                            return;
//                        }
//                    }
//                })
            })
        });


    </script>

<!--选择支付方式-->
<script>
    $(function () {
        $('.pay-list li').click(function() {
            var $this = $(this);
            if (!$this.hasClass('more')) {
                $this.addClass('active').siblings().removeClass('active');
                $('#payCode').val($this.attr('data'));
            }
        });
    });
    function getPayUrl(){

        var action = '';
        var payCode = $.trim($("#payCode").val());
        if(payCode == 'weixin'){
            action = "{:url('pay/payments/wxpay')}";
        }else if(payCode == 'alipay'){
            action = "{:url('pay/payments/alipay')}"
        }else{
            action = "{:url('pay/payments/unpay')}"
        }
        $('form').attr('action',action);
    }


</script>

{/block}