{extend name="common@public/admin_base"}

{block name='style'}
{/block}

{block name="body"}
<section class="content-header">
    <h1>{$meta_title}</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> </a></li>
        <!--<li><a href="#">Tables</a></li>-->
        <!--<li class="active">Simple</li>-->
    </ol>
</section>

<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>

                    <div class=" pull-left">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <a class="btn btn-primary btn-sm " href="/admin/vip/manage">新增价格</a>
                        </div>
                    </div>

                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody><tr>
                            <th>ID</th>
                            <th>价格</th>
                            <th>总月数</th>
                            <th>描述</th>
                            <th>状态</th>
                            <th>是否推荐</th>
                            <th>添加日期</th>
                            <th>排序</th>
                            <th>操作</th>
                        </tr>
                        {volist name='list' id='item'}
                        <tr>
                            <td>{$item['id']}</td>
                            <td>{$item['price']}</td>
                            <td>{$item['month']}</td>
                            <td>{$item['desc']}</td>
                            {if $item['status'] == 1 }
                              <td><span class="label label-success">启用中</span></td>
                            {else/}
                              <td><span class="label label-danger">禁用</span></td>
                            {/if}
                            {if $item['is_recommend'] == 1 }
                            <td><span class="label label-success">是</span></td>
                            {else/}
                            <td><span class="label label-danger">否</span></td>
                            {/if}
                            <td>{$item['create_time']}</td>
                            <td>{$item['sort']}</td>
                            <td>
                                <a href="{:url('admin/vip/manage',array('id'=>$item['id']))}">管理</a>
                                <a href="{:url('admin/vip/del',array('id'=>$item['id']))}" class="ajax-get">删除</a>
                            </td>
                        </tr>
                        {/volist}
                        </tbody></table>
                </div>
                <!-- /.box-body -->
                {$page}
            </div>
            <!-- /.box -->
        </div>
    </div>

</section>



{/block}

{block name="script"}
{/block}