{extend name="common@public/admin_base"}

{block name='style'}
{/block}

{block name="body"}
<section class="content-header">
    <h1>{$meta_title}</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 用户列表</a></li>
        <!--<li><a href="#">Tables</a></li>-->
        <!--<li class="active">Simple</li>-->
    </ol>
</section>

<section class="content">

    <div class="box box-solid clearfix">
        <div class="box-body clearfix">
            <!-- 修改密码表单 -->
            <form method="post" class="form-horizontal">
                <input type="hidden" name="id" value="{$vip_price['id']}">
                <div class="form-group">
                    <label class="col-lg-2 control-label">
                       总价格：</label>
                    <div class="col-lg-4">
                        <input type="text" name="price" class="form-control " value="{$vip_price['price']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">
                        总计月数：</label>
                    <div class="col-lg-4">
                        <input type="text" name="month" class="form-control " value="{$vip_price['month']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">
                        排序：</label>
                    <div class="col-lg-4">
                        <input type="text" name="sort" class="form-control " value="{$vip_price['sort']}" placeholder="数字越大，表示排序越靠上"/>
                    </div>
                </div>
                <!--<div class="form-group">-->
                    <!--<label class="col-lg-2 control-label">-->
                        <!--描述：</label>-->
                    <!--<div class="col-lg-4">-->
                        <!--<textarea name="desc" id="" cols="40" rows="2">-->
                            <!--{$vip_price['desc']}-->
                        <!--</textarea>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="form-group">
                    <label class="col-lg-2 control-label">状态：</label>
                    <div class="col-lg-6">
                        <div class="radio-inline" style="padding-left:0">
                            <input type="radio" name="status" class="gl_checkbox" id="status_on" value="1" {$vip_price['status_on']}/>
                            <label for="status_on">启用</label>
                        </div>
                        <div class="radio-inline" style="padding-left:0">
                            <input type="radio" name="status" class="gl_checkbox" id="status_off" value="0" {$vip_price["status_off"]} />
                            <label for="status_off">禁用</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                <label class="col-lg-2 control-label">
                   是否推荐：</label>
                <div class="col-lg-6">
                    <div class="radio-inline" style="padding-left:0">
                        <input type="radio" name="is_recommend" class="gl_checkbox" id="is_recommend" value="1" {$vip_price['recommend_on']}/>
                        <label for="is_recommend">是</label>
                    </div>
                    <div class="radio-inline" style="padding-left:0">
                        <input type="radio" name="is_recommend" class="gl_checkbox" id="is_not_recommend" value="0" {$vip_price['recommend_off']}/>
                        <label for="is_not_recommend">否</label>
                    </div>
                </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-primary submit-btn ajax-post" target-form="form-horizontal">提交</button>
                        <button class="btn btn-default" onclick="javascript:history.back(-1);return false;">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{/block}

{block name="script"}
{/block}