{extend name="common@public/base"}

{block name='style'}
{/block}

{block name="body"}
<section class="content">
    <div class="box box-solid clearfix">

                {volist name='activity' id='item'}
                <div style="margin-bottom: 10px;background-color: #FEF0D4" class="col-md-12">

                    <h3 class="box-title text-center">{$item['title']}</h3>
                    <div>
                        {$item['content']}
                    </div>

                </div>
                {/volist}

            </div>

</section>
{/block}

{block name="script"}
{/block}