{extend name="common@public/admin_base"}

{block name='style'}
{/block}

{block name="body"}
<section class="content-header">
    <h1>用户列表</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 用户列表</a></li>
        <!--<li><a href="#">Tables</a></li>-->
        <!--<li class="active">Simple</li>-->
    </ol>
</section>

<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>

                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 30%;margin: 0px 20px;float: left;">
                            <input type="text" id="phone-search" name="phone_num" class="form-control pull-right" placeholder="通过手机号搜索">
                            <div class="input-group-btn">
                                <button type="submit" class="search-btn btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>

                        <div class="dropdown input-group pull-right">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                导出<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu " style="min-width: 80px;">
                                <li ><a href="{:url('/export_excel')}">全部</a></li>
                                <li ><a href="{:url('/export_excel',array('export_type'=>'is_vip'))}">会员用户</a></li>
                                <li ><a href="{:url('/export_excel',array('export_type'=>'not_vip'))}">普通用户</a></li>
                            </ul>
                        </div>
                        <!--<div class="input-group input-group-sm" style="width: 30%;margin: 0px 20px; float: right;">-->
                                <!--<a href="#" class="dropdown-toggle btn  btn-primary pull-right " data-toggle="dropdown" aria-expanded="true">导出<span class="caret"></span></a>-->
                                <!--<ul class="dropdown-menu" role="menu">-->
                                    <!--<li><a href="#">Action</a></li>-->
                                    <!--<li><a href="#">Another action</a></li>-->
                                    <!--<li><a href="#">Something else here</a></li>-->
                                <!--</ul>-->
                            <!--&lt;!&ndash;<a class="btn btn-sm btn-primary pull-right " href="{:url('/export_excel',array('export_type'=>''))}" >导出普通用户列表</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a  style="margin: 0px 10px;" class="btn btn-sm btn-primary pull-right " href="{:url('/export_excel',array('export_type'=>'is_vip'))}">导出会员列表</a>&ndash;&gt;-->

                        <!--</div>-->
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>手机号</th>
                            <th>注册日期</th>
                            <th>
                                <div class="">
                                    <label for="is_vip" >会员</label>
                                    <select style="width: 50px;display: inline-block" id="is_vip" name="" aria-controls="" class="form-control input-sm">
                                        <option value="0" {$select_0}>全部</option>
                                        <option value="1" {$select_1}>否</option>
                                        <option value="2" {$select_2}>是</option>
                                    </select>
                                </div>

                            </th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                         {volist name="user_list" id="user"}
                            <tr>
                                <td>{$user['id']}</td>
                                <td>{$user['phone_num']}</td>
                                <td>{$user["reg_time"]|date='Y-m-d H:i:s',###}</td>
                                {if $user['is_vip'] == 1 }
                                <td><span class="label label-success">是</span></td>
                                {else/}
                                <td><span class="label label-default">否</span></td>
                                {/if}
                                {if $user['status'] == 1 }
                                <td><span class="label label-success">正常</span></td>
                                {else/}
                                <td><span class="label label-danger">禁用</span></td>
                                {/if}
                                <td>
                                    <a href="{:url('/admin/user/manage',array('id'=>$user['id']))}">
                                        管理
                                    </a>
                                </td>
                            </tr>
                          {/volist}
                        </tbody>
                    </table>
                </div>
                {$page}
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

</section>
{/block}

{block name="script"}
    <script>
        var b = new Base64();
        $("#is_vip").change(function (e) {
            e.preventDefault();
            var _this = $(this);
            var isVip =  _this.children('option:selected').val();
            window.location.href = '/admin/user/index?is_vip='+isVip;
        });

        $('.search-btn').click(function (e) {
           e.preventDefault();
           var phone_num = $('#phone-search').val();
            if(!checkPhone(phone_num)){
                showTip('请输入正确的手机号!',2);

                setTimeout('window.location.reload();',1000);
                return;
            }
                $.ajax({
                    url:"/admin/user/get_user",
                    data:{'phone_num':phone_num},
                    type:'post',
                    async:true,
                    success:function (resJson) {
                        if(resJson.code==0){
                            showTip('抱歉,未找到该用户!',1000);
                        }else{
                            var user = resJson.data;
                            var html = "<tr>";
                            html += '<td>'+user.id+'</td>';
                            html += '<td>'+user.phone_num+'</td>';
                            html += '<td>'+user.reg_time+'</td>';
                            if(user.is_vip == 1){
                                html += '<td><span class="label label-success">是</span></td>';
                            }else{
                                html += '<td><span class="label label-default">否</span></td>';
                            }
                            if(user.status==1){
                                html += '  <td><span class="label label-success">正常</span></td>';
                            }else{
                                html += '  <td><span class="label label-default">禁用</span></td>';
                            }
                            html += '<td>';
                            html +=  '<a href="/admin/user/manage/id/'+user.id+'">管理</a>';
                            html += '</td></tr>';
                            $('tbody').html(html);
                            $(".pagination").hide();
                        }
                    }
                })
        });

    </script>
{/block}